@import "tailwindcss";

:root {
  --background: #030A1B;
  --foreground: #171717;
  --color-accent: #228EE5;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-oswald: var(--font-oswald);
  --font-inter: var(--font-inter);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: rgb(12, 18, 30);
    --foreground: #ededed;
  }
}

html {
  overflow-y: scroll;
  font-family: var(--font-inter);
  background-color: var(--background);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.main {
  min-height: 100vh;
}

* {
  scrollbar-color: var(--color-accent) transparent;
  scrollbar-width: thin;
}

*::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background: var(--color-accent);
  border-radius: 10px;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none; 
  scrollbar-width: none; 
}

.hide-cursor {
  cursor: none !important;
}

.fixed-bottom-safe {
  bottom: 0;
  padding-bottom: env(safe-area-inset-bottom); 
}


.fixed-top-safe {
  top: 0;
  padding-top: env(safe-area-inset-top); 
}

